@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700;800&display=swap");

:root {
  --primary-color: #0052cc;
  --secondary-color: #71768b;
  --tertiary-color: #856e99;
  --bg-light: #f0f4ff;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #64748b;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #0052cc;
}

label,
.btn,
.label-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.card-title {
  font-family: "Manrope", sans-serif;
}

.form-control {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
}
